<!DOCTYPE html>
<html>
  <head>
    <title>Not Found</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main class="container d-flex flex-column align-items-center">
      <div class="w-25 my-5 py-5 text-center">
        <p>Oups, tu t'es predu(e) ?</p>
        <p>Essaie plutôt de te connecter ! &#128527;</p>

        <a
          class="btn btn-dark"
          href="http://localhost/CoursPHP/php_web/annuaire/router.php"
          >Retour à l'accueil</a
        >
      </div>
    </main>
  </body>
</html>
